#included dirs for sync
dir=/home/

#log location
log=./watchsync.log

#transmitter log
#todo

#receiver log
#todo

#server working port
port=2215

#designate cluster hosts
#192.168.0.38
hosts_propagation=192.168.0.115

#allow specific hosts to connect
#CIDR is allowed
hosts_allowed=192.168.0.1/24

#ignore file
ingore_file=".watchsync"

#synchronization time delay
syncdelay=1

allow_delete=0